html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 14px;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background-color: #2B2B2B;
	color: #eee;
}
.hidden {
	display: none !important;
}
input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 2px;
	background-color: #3C3F41;
	color: #eee;
}
input:focus, button:focus, select:focus, textarea:focus {
	outline: none !important;
	border-color: #555;
}