<script>
    import {langParsedData} from '../storage/data';
    import {config} from '../storage/data';
    import {translator} from '../storage/data';
    export let helper;
    let readyLines;
    let readyLinesCount;
    let conflicts;
    let conflictsCount;
    let conflictsResolved = 0;
    let confKeys;
    let langMap;
    let currentConfig = {};
    let resolvedLines = {};
    let isNoAnyConflicts = false;

    config.subscribe( value => {
        if(value == null) return;
        currentConfig = value;
        if(value.markChunkResolved === true) {
            value.markChunkResolved = false;
            config.set(value);
            markChunkAsResolved();
        }
        if(currentConfig.doGenerateAndDownload){
            value.doGenerateAndDownload = false;
            config.set(value);
            generateAndDownloadNewLangFile();
        }
    });

    function markChunkAsResolved(){
        let lineNames = Object.keys(resolvedLines);
        if(lineNames.length > 0) {
            lineNames.forEach(lName => {
                if(conflicts[lName]) {
                    readyLines[lName] = conflicts[lName][resolvedLines[lName]];
                    conflictsResolved++;
                    confKeys.splice(confKeys.indexOf(lName),1);
                    delete conflicts[lName];
                    delete resolvedLines[lName];
                }
            });
            conflicts = conflicts;
            resolvedLines = resolvedLines;
            readyLinesCount = Object.keys(readyLines).length;
            conflictsCount = Object.keys(conflicts).length;
            confKeys = Object.keys(conflicts);
            if(conflictsCount == 0){
                currentConfig.isAllConflictsResolved = true;
                config.set(currentConfig);
            }
        }
    }

    function generateAndDownloadNewLangFile(){
        let result = '#Quest lines\n';
        let lineNames = Object.keys(readyLines);
        lineNames.forEach(lineName => {
            result += `\n${lineName}=${readyLines[lineName]}`;
        });
        helper.downloadAsFile(result, null, 'new.lang');
    }

    langParsedData.subscribe(value => {
        if(value != null) {
            readyLines = value.completelySameLines;
            conflicts = value.conflictLines;
            readyLinesCount = Object.keys(readyLines).length;
            conflictsCount = Object.keys(conflicts).length;
            confKeys = Object.keys(conflicts);
            isNoAnyConflicts = conflictsCount == 0;
            if(isNoAnyConflicts) {
                currentConfig.isAllConflictsResolved = true;
                config.set(currentConfig);
            }
        }
    });
    let getWidthByCount = (itemsCount) => {
        return ('width: '+(Math.floor(100 / itemsCount)-2) + '%;');
    };
    let markAsResolved = (cKey, idx) => {
        if(resolvedLines[cKey] == idx) {
            delete resolvedLines[cKey];
            resolvedLines = resolvedLines;
        }
        else {
            resolvedLines[cKey] = idx;
            if(currentConfig.autoConfirm){
                currentConfig.markChunkResolved = true;
                config.set(currentConfig);
            }
        }
    };
    let isSelected = (cKey, idx) => {
        let taClassName = '';
        if(resolvedLines[cKey] == null) return taClassName;
        return resolvedLines[cKey] == idx ? 'selected' : 'notSelected';
    };

    translator.subscribe(newMap => {
        langMap = newMap;
    });

</script>

<div>
    {#if conflicts}
        <div class="board">
            <div class="line subtitle">
                {#if isNoAnyConflicts}
                    {langMap['noAnyConflicts']}
                {:else }
                    {#if confKeys.length == 0}
                        {langMap['allConflictsWereResolved']}
                    {:else }
                        {langMap['noConflictLines']}: <b>{readyLinesCount}</b> |
                        {langMap['conflictLines']}:  <b>{conflictsCount}</b> |
                        {langMap['conflictsResolved']}:  <b>{conflictsResolved}</b>
                    {/if}
                {/if}
            </div>
            {#each confKeys.slice(0, 3) as cKey}
                <div class="line">
                    <p class="keyName">
                        {#each conflicts[cKey] as cText, idx}
                            <button on:click={markAsResolved(cKey, idx)}
                                    class="{resolvedLines[cKey] == null ? '' : (resolvedLines[cKey] == idx ? 'selected' : 'notSelected')}">
                                {idx + 1}
                            </button>
                        {/each}
                        {cKey}
                    </p>
                    <div class="taContainer">
                        {#each conflicts[cKey] as cText, idx}
                            <textarea bind:value="{cText}" style="min-width: 48%;{getWidthByCount(conflicts[cKey].length)}"
                                      class="{resolvedLines[cKey] == null ? '' : (resolvedLines[cKey] == idx ? 'selected' : 'notSelected')}"/>
                        {/each}
                    </div>
                </div>
            {/each}
        </div>
    {/if}
</div>

<style>
    .board{
        margin: 10px 0;
    }
    .line {
        background-color: #222;
        padding: 4px 0;
        border: 0px solid;
        border-radius: 8px;
        margin-bottom: 5px;
    }
    .subtitle {
        padding: 4px 15px;
    }
    .keyName{
        padding: 0;
        margin: 7px 10px 0 15px;
    }
    .keyName button {
        width: 40px;
    }
    .keyName button:hover{
        background-color: #232;
    }
    .line textarea {
        height: 80px;
        border-radius: 3px;
        background-color: #151515;
        margin: 1%;
    }
    .taContainer {
        text-align: center;
    }
    textarea.selected, button.selected {
        background-color: #021;
        color: #dfd;
        border-color: #060;
    }
    textarea.notSelected, button.notSelected {
        background-color: #1e1e1e;
        color: #666;
    }
</style>