<script>
    export let label = '';
    export let onFileChoose;
    export let helper;
    let onFileSelect  = (e)=>{
        helper.readData(e).then(res => {
            //console.log('res: ', res);
            onFileChoose && onFileChoose(res);
        });
    };
</script>

<div class="fWrapper">
    <label>
        {label}
        <input type="file" on:change={onFileSelect}>
    </label>
</div>

<style>
    .fWrapper {
        display: inline-block;
        max-width: 280px;
    }
</style>