<script>
	import Main from './components/Main.svelte';
	import {translator} from './storage/data';
	export let helper;
	let selectedLang = localStorage.getItem('currentLang') || 'en';
	translator.set(helper[selectedLang+'Map']);
</script>

<div class="wrapper" >
	<Main {helper} />
</div>

<style>
	.wrapper {
		padding: 5vmin;
		width: 90%;
		min-width: 720px;
		max-width: 1200px;
		margin: 0 auto;
	}
</style>